
@{
    ViewData["Title"] = "Collaboration";
}

@*<h1>Collaboration</h1>*@

<section class="page-section" id="collaboration">
    <div class="container px-4 px-lg-5">
        <h1 class="judul2 text-center mt-0 text-uppercase">Our collaborator</h1>
        <hr class="divider" />
        <div class="row gx-4 gx-lg-5">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="collaboration-item mb-2"><img class="img-fluid" src="~/pictures/WhatsApp Image 2022-03-11 at 22.00.18.jpeg"></div>
                    <h3 class="h4 mb-2">Publisher's</h3>
                    <p class="text-muted mb-0">We had colaborration with many publishers, Don't worry we have your favorite book wanna be !</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="collaboration-item mb-2"><img class="img-fluid" src="~/pictures/influe.jpg"></div>
                    <h3 class="h4 mb-2">Influencer</h3>
                    <p class="text-muted mb-0">All products of ours is guaranteed to be trusted</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="collaboration-item mb-2"><img class="img-fluid" src="~/pictures/merch pabrik.jpg"></div>
                    <h3 class="h4 mb-2">Merch Manufactory</h3>
                    <p class="text-muted mb-0">To produce your lovely merch quickly and trustworthy</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="collaboration-item mb-2"><img class="img-fluid" src="~/pictures/penulis.jpg"></div>
                    <h3 class="h4 mb-2">Writer</h3>
                    <p class="text-muted mb-0">The best and your favorite one !</p>
                </div>
            </div>
        </div>
    </div>
</section>

