
@{
    ViewData["Title"] = "Company";
}

<div class="judul1 text-uppercase">
    <h1>@ViewData["Title"]</h1>
</div>

<div class="justify-content-xl-center">
    <article class="section4">
        <div>
            <div class="container">
                <div class="teks">
                    <h1 class="nama">BookE-Book</h1>
                    <p>
                        BookE-book is a startup company that focuses on developing a platform for book lovers.
                        Founded in early 2020, this company already has many features that will satisfy customers.
                        Has more than 1000 book titles, with customized language, making ebooks a platform that is in demand now.
                        Of course the company will continue to grow, so criticism and suggestions are most welcome. You can find us at:
                    </p>
                        <div class="ket">
                            <div class="sosial">
                                <a href="..">
                                    <i class="bi bi-instagram icon">
                                        <partial class="text">: BookE-Book</partial>
                                    </i>
                                </a>
                                <br />
                                <a href="..">
                                    <i class="bi bi-envelope icon">
                                        <partial class="text">: bookebook@gmail.com</partial>
                                    </i>
                                </a>
                                <br />
                                <a href="..">
                                    <i class="bi bi-globe icon">
                                        <partial class="text">: www.bookebook.com</partial>
                                    </i>
                                </a>
                            </div>
                        </div>
                    </div>
                <img src="~/pictures/company.jpg" />
            </div>
        </div>
    </article>
</div>

