@{
    ViewData["Title"] = "Home Page";
}

<div class="container home">
    <div class="home text-center">
        <h1 class="welcome display-4">Welcome</h1>
        <p>Learn about My Company, Book Company !</p>
        <div class="d-sm-inline-flex align-content-center" style="flex-direction: row; padding-left: 30px ">
            <img src="~/pictures/book2.jpg" />
        </div>
    </div>
</div>
