
@{
    ViewData["Title"] = "Product";
}

<section class="page-section bg-white" id="product">
    <div class="container">
        <div class="text-center">
            <h1 class="section-heading text-uppercase">Product</h1>
            <h3 class="section-subheading text-muted">Product of our Company</h3>
        </div>
        <div class="row">
            <!--item 1-->
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="product-item">
                    <img class="img-fluid" src="~/pictures/platform.jpg" alt="..." />
                    <div class="product-caption bg-light">
                        <div class="product-caption-heading">Platform</div>
                        <div class="product-caption-subheading text-muted">
                            <p>
                                To provide your experince and to satisfy your need, We are proud to build this BookE-Book platform. !
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- item 2-->
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="product-item">
                    <img class="img-fluid" src="~/pictures/ebook.jpg" alt="..." />
                    <div class="product-caption bg-light">
                        <div class="product-caption-heading">E-Book</div>
                        <div class="product-caption-subheading text-muted">
                            <p>Electronic version of a book. you can read it anywhere, everywhere and anytime !</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--item 3-->
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="product-item">
                    <img class="img-fluid" src="~/pictures/merch3.jpg" alt="..." />
                    <div class="product-caption bg-light">
                        <div class="product-caption-heading">Merchandise</div>
                        <div class="product-caption-subheading text-muted">
                            <p>We provide merchandise from our book ! so you can have some goody goods from your favorite book !</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--item 4-->
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="product-item">
                    <img class="img-fluid" src="~/pictures/sign.jpg" alt="..." />
                    <div class="product-caption bg-light">
                        <div class="product-caption-heading">Fan-Meeting</div>
                        <div class="product-caption-subheading text-muted">
                            <p>Good News guys ! you can meet your favorite writer now ! You can chatting, admiring, fangirling and so on :D </p>
                        </div>
                    </div>
                </div>
            </div>
            <!--item 5-->
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="product-item">
                    <img class="img-fluid" src="~/pictures/pelatihan2.jpeg" alt="..." />
                    <div class="product-caption bg-light">
                        <div class="product-caption-heading">Writer Training</div>
                        <div class="product-caption-subheading text-muted">
                            <p>
                                You want to learn how to read a good book ? Or you want to improve yout writing skill ?
                                Or maybe you want to publish your book ? You can Do it in our Writing Training Camp !
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

