@{
    ViewData["Title"] = "Profile";
}
<div class="judul text-uppercase">
    <h1>@ViewData["Title"]</h1>
</div>

<div class="justify-content-xl-center">
    <article class="section5">
        <div>
            <div class="container">
                <img src="~/pictures/buku.jpg" />
                <div class="teks">
                    <h1 class="nama">From Book to the World</h1>
                    <p>
                        From paper, previously bound and read page by page by turning it over, 
                        now we provide a special platform for reading, treading, and buy books from all over the world.
                        You could Have an fanmeeting with your favorite writer, had a training, and we provide your lovely merch.
                        We prioritize what you want, what you love to get you on your way. 
                        we will stay loyal and give you the best, your comfort and your experience. 
                        that's what BookE-Book are for.
                    </p>
                    @* use ctrl+kc to make this comment *@
                </div>
            </div>
        </div>
    </article>
</div>